.night {
  background-color: #3C2F2F;
  color: #FFFFFF;
  font-size: 10rem;
  height: 10rem;
  line-height: 3rem;
  margin: auto;
  text-align: center;
  width: 10rem;
}

.night span {
  -webkit-filter: blur(0.25rem);
  filter: blur(0.25rem);
  vertical-align: middle;
}

.buoy01 {
  animation: blink01 3.60s linear infinite;
}

@keyframes blink01 {
  0% {opacity: 0;}
  1% {opacity: 0;}
  15% {opacity: 0;}
  16% {opacity: 100;}
  17% {opacity: 100;}
  20% {opacity: 100;}
  21% {opacity: 0;}
  22% {opacity: 0;}
  36% {opacity: 0;}
  37% {opacity: 100;}
  38% {opacity: 100;}
  41% {opacity: 100;}
  42% {opacity: 0;}
  100% {opacity: 0;}
}

.buoy05 {
  animation: blink05 4.40s linear infinite;
}

@keyframes blink05 {
  0% {opacity: 0;}
  1% {opacity: 0;}
  12% {opacity: 0;}
  13% {opacity: 100;}
  14% {opacity: 100;}
  16% {opacity: 100;}
  17% {opacity: 0;}
  18% {opacity: 0;}
  29% {opacity: 0;}
  30% {opacity: 100;}
  31% {opacity: 100;}
  51% {opacity: 100;}
  52% {opacity: 0;}
  100% {opacity: 0;}
}

.buoy09 {
  animation: blink09 0.80s linear infinite;
}

@keyframes blink09 {
  0% {opacity: 0;}
  1% {opacity: 0;}
  74% {opacity: 0;}
  75% {opacity: 100;}
  76% {opacity: 100;}
  99% {opacity: 100;}
  100% {opacity: 0;}
  100% {opacity: 0;}
}

.buoy10 {
  animation: blink10 4.40s linear infinite;
}

@keyframes blink10 {
  0% {opacity: 0;}
  1% {opacity: 0;}
  12% {opacity: 0;}
  13% {opacity: 100;}
  14% {opacity: 100;}
  16% {opacity: 100;}
  17% {opacity: 0;}
  18% {opacity: 0;}
  29% {opacity: 0;}
  30% {opacity: 100;}
  31% {opacity: 100;}
  33% {opacity: 100;}
  34% {opacity: 0;}
  35% {opacity: 0;}
  46% {opacity: 0;}
  47% {opacity: 100;}
  48% {opacity: 100;}
  50% {opacity: 100;}
  51% {opacity: 0;}
  100% {opacity: 0;}
}

.buoy11 {
  animation: blink11 8.40s linear infinite;
}

@keyframes blink11 {
  0% {opacity: 0;}
  1% {opacity: 0;}
  6% {opacity: 0;}
  7% {opacity: 100;}
  8% {opacity: 100;}
  8% {opacity: 100;}
  9% {opacity: 0;}
  10% {opacity: 0;}
  15% {opacity: 0;}
  16% {opacity: 100;}
  17% {opacity: 100;}
  17% {opacity: 100;}
  18% {opacity: 0;}
  19% {opacity: 0;}
  24% {opacity: 0;}
  25% {opacity: 100;}
  26% {opacity: 100;}
  26% {opacity: 100;}
  27% {opacity: 0;}
  28% {opacity: 0;}
  33% {opacity: 0;}
  34% {opacity: 100;}
  35% {opacity: 100;}
  35% {opacity: 100;}
  36% {opacity: 0;}
  37% {opacity: 0;}
  42% {opacity: 0;}
  43% {opacity: 100;}
  44% {opacity: 100;}
  44% {opacity: 100;}
  45% {opacity: 0;}
  46% {opacity: 0;}
  51% {opacity: 0;}
  52% {opacity: 100;}
  53% {opacity: 100;}
  53% {opacity: 100;}
  54% {opacity: 0;}
  55% {opacity: 0;}
  60% {opacity: 0;}
  61% {opacity: 100;}
  62% {opacity: 100;}
  71% {opacity: 100;}
  72% {opacity: 0;}
  100% {opacity: 0;}
}

.buoy12 {
  animation: blink12 9.20s linear infinite;
}

@keyframes blink12 {
  0% {opacity: 0;}
  1% {opacity: 0;}
  5% {opacity: 0;}
  6% {opacity: 100;}
  7% {opacity: 100;}
  7% {opacity: 100;}
  8% {opacity: 0;}
  9% {opacity: 0;}
  13% {opacity: 0;}
  14% {opacity: 100;}
  15% {opacity: 100;}
  15% {opacity: 100;}
  16% {opacity: 0;}
  17% {opacity: 0;}
  21% {opacity: 0;}
  22% {opacity: 100;}
  23% {opacity: 100;}
  23% {opacity: 100;}
  24% {opacity: 0;}
  25% {opacity: 0;}
  29% {opacity: 0;}
  30% {opacity: 100;}
  31% {opacity: 100;}
  31% {opacity: 100;}
  32% {opacity: 0;}
  33% {opacity: 0;}
  37% {opacity: 0;}
  38% {opacity: 100;}
  39% {opacity: 100;}
  39% {opacity: 100;}
  40% {opacity: 0;}
  41% {opacity: 0;}
  45% {opacity: 0;}
  46% {opacity: 100;}
  47% {opacity: 100;}
  47% {opacity: 100;}
  48% {opacity: 0;}
  49% {opacity: 0;}
  53% {opacity: 0;}
  54% {opacity: 100;}
  55% {opacity: 100;}
  55% {opacity: 100;}
  56% {opacity: 0;}
  57% {opacity: 0;}
  61% {opacity: 0;}
  62% {opacity: 100;}
  63% {opacity: 100;}
  63% {opacity: 100;}
  64% {opacity: 0;}
  65% {opacity: 0;}
  69% {opacity: 0;}
  70% {opacity: 100;}
  71% {opacity: 100;}
  71% {opacity: 100;}
  72% {opacity: 0;}
  100% {opacity: 0;}
}
