html, body{
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

#title {
  background-color: #FCFCFC;
  border-bottom: 1px solid #CCCCCC;
  font-size: 1.8rem;
  line-height: 2.0rem;
  max-width: 100%;
  text-align: center;
  width: 100%;
}

#scoring, #setup, #test {
  padding: 0 1rem 0 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#scoring .col, #setup .col, #test .col {
  background-color: #FCFCFC;
  border: 1px solid #CCCCCC;
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 0.25rem;
  text-align: center;
}

.start_button {
  border: 1px solid #CCCCCC;
  margin: 0.5rem;
  text-align: center;
  width: 100%;
}

#setup input:not(:checked) + label {
  background-color: #CCC;
  color: #666;
}

#setup label:hover, #setup input:not(:checked) + label:hover {
  background-color: #F4FBFC;
  border-color: #A9C7CC;
}

#question {
  margin: 1rem 2rem 1rem 2rem;
  font-size: 1.4rem;
  text-align: center;
}

#question_media {
  margin: 1rem 2rem 1rem 2rem;
  text-align: center;
}

#question_explanation {
  margin: 1rem 2rem 1rem 2rem;
  font-size: 1.2rem;
  text-align: center;
}
